{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css" />
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.js"></script>

{% endblock %}
{% block extrastyle %}
    <script>
         $(document).ready(function(){
             $("table thead tr th input").click(function(){
                 //alert("pressed.");
                 if ($(this).attr("checked")=="checked")
                 {
                     $("input[name='id']").each(function() {
                         $(this).attr("checked", "checked");
                     });
                   //alert("pressed.");
                 }
                 else
                 {
                     $("input[name='id']").each(function() {
                          $(this).attr("checked", false);
                      });
                 }
                 //alert($(this).attr("checked"));
             })

         })
     </script>

{% endblock %}

    {% block content %}

        {% load render_table from django_tables2 %}
        {% render_table table %}
    {% endblock %}